body {
    margin: 0;
    padding: 0;
    border: 0;
    background: url('../src/img/main_bg.jpg');
    background-repeat: repeat-x;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.header {
    width: 100%;
    max-height: 100px;
    background-color: #e6e6e6;
    -webkit-box-shadow: 0 8px 5px rgba(57, 63, 72, 0.15);
    -moz-box-shadow: 0 8px 5px rgba(57, 63, 72, 0.15);
    box-shadow: 0 8px 5px rgba(57, 63, 72, 0.15);
}
.headerBG {
    max-width: 100%;
    height: 100px;
}
.header-logo {
    margin-top: -40px;
    max-width: 100%;
    margin-left: 10%;
    margin-right: 65%
}
.footer {
    position: static;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100px;
    background-image: url('../src/img/footer_bg.jpg');
}
.navH {
    margin-left: 31%;
}
.ulNav {
    list-style-type: none;
    margin-top: -43px;
    white-space: nowrap;
}
.liNav {
    font-size: 17px;
    font-weight: 500;
    display: inline-block;
    padding-left: 7%;
}
.liaNav {
    text-decoration: none;
    color: #6e6e6e;
}
.slide-wrapper {
    position: relative;
    z-index: -1;
    margin-top: 5px;
    margin-left: 11.8%;
    margin-right: 38.2%;
}
.tns-controls {
    display: none;
}
.tns-nav > [aria-controls] {
    width: 12px;
    height: 12px;
    margin: 0 3px;
    background-image: url('../src/img/button.png');
    border-radius: 50%;
    background-repeat: no-repeat;
}

.tns-nav {
    margin-top: 375px;
    margin-left: 80%;
    position: absolute;
    z-index: 2;
    text-align: center;
}
.tns-nav > .tns-nav-active {
    background-image: url('../src/img/button-act.png');
}

.banner {
    width: 76.1%;
    height: inherit;
    border: solid;
    border-width: 1px;
    border-color: rgba(221, 221, 221, 1);
}
.bannerTextBox {
    position: relative;
    margin-top: -25%;
    margin-left: 52.75%;
    font-size: 20px;
    color: #6e6e6e;
}
.bannerText {
    font-size: 30px;
    color: rgb(0, 133, 63);
}
.bannerSmallText {
    margin-top: -1.8%;
}
.lifestyle_Box {
    font-size: 22px;
    color: rgb(0, 133, 63);
    background-image: url('../src/img/lifestyle_box_bg.jpg');
    background-size: 100% 100%;
    width: 71%;
    margin-top: 1.2%;
    margin-left: 11.9%;
    padding: 1.8% 2.5% 0.7%;
    border: solid;
    border-width: 1px;
    border-color: rgba(221, 221, 221, 1);
}
.lifestyle-container {
    width: 100%;
    margin-top: 0.4%;
    padding-top: 2.1%;
    display: grid;
    border-top: solid 1px rgb(0, 133, 63);
    grid-template-columns: 30% 35% 35%;
    column-gap: 10px;
}
.lifestyle-lorem-box {
    color: rgb(155, 155, 155);
    font-size: 17px;
    border-left: solid;
    border-width: 1px;
    border-color: rgba(221, 221, 221, 1);
    display: grid;
    grid-template-columns: 50% 50%;
    column-gap: 1px;
}
.lifestyle-col {
    font-weight: 500;
    color: rgb(155, 155, 155);
    font-size: 17px;
    padding-left: 2px;
}
.lifestyle-col-2 {
    margin-top: 20px;
    padding-top: 1.5px;
    padding-left: 8%;
    border-left: solid;
    border-width: 1px;
    border-color: rgba(221, 221, 221, 1);
}
.lifestyle-grey-text {
    font-weight: normal;
    color: #6e6e6e;
    font-size: 14px;
}
.lifestyle-green-text {
    font-weight: normal;
    margin-top: -1%;
    color: rgb(0, 133, 63);

}
.lifestyle-dummy-text {
    color: #6e6e6e;
    font-size: 14px;
    padding-top: 0;
    word-wrap: normal;
}

.resources {
    margin-left: 11.8%;
    margin-right: auto;
    padding-left: 5%;
    padding-right: 5%;
    width: 65%;
    border: solid;
    border-width: 1px;
    border-color: rgba(221, 221, 221, 1);
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 16%;
    background-color: khaki;
}
.resorces_box {
    width: 50px;
}
.green_Text {
    font-size: 22px;
    color: rgb(0, 133, 63);
}
.gridResources {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-width: 10px;
    background-color: lightcyan;
    border: solid;
    display: flexbox;

}
.rule {
    border-top: 1px solid rgb(0, 133, 63);
    margin-top: -16px;
}
