body {
    margin: 0;
    padding: 0;
    border: 0;
    background: url('../src/img/main_bg.jpg');
    background-repeat: repeat-x;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.header {
    width: 100%;
    height: 100px;
    background-color: #e6e6e6;
    -webkit-box-shadow: 0 8px 5px rgba(57, 63, 72, 0.15);
    -moz-box-shadow: 0 8px 5px rgba(57, 63, 72, 0.15);
    box-shadow: 0 8px 5px rgba(57, 63, 72, 0.15);
}
.headerBG {
    max-width: 100%;
    height: 100px;
}
.header-logo {
    margin-top: -40px;
    max-width: 100%;
    margin-left: 10%;
    margin-right: 65%
}
.navH {
    margin-left: 31%;
}
.ulNav {
    list-style-type: none;
    margin-top: -43px;
    white-space: nowrap;
}
.liNav {
    font-size: 17px;
    font-weight: 500;
    display: inline-block;
    padding-left: 7%;
}
.liaNav {
    text-decoration: none;
    color: #6e6e6e;
}
.slide-wrapper {
    position: relative;
    z-index: -1;
    margin-top: 5px;
    margin-left: 11.8%;
    margin-right: 40%;
}
.tns-controls {
    display: none;
}
.tns-nav > [aria-controls] {
    width: 12px;
    height: 12px;
    margin: 0 3px;
    background-image: url('../src/img/button.png');
    border-radius: 50%;
    background-repeat: no-repeat;
}

.tns-nav {
    margin-top: 375px;
    margin-left: 80%;
    position: absolute;
    z-index: 2;
    text-align: center;
}
.tns-nav > .tns-nav-active {
    background-image: url('../src/img/button-act.png');
}

.banner {
    width: 1024px;
    height: auto;
    border-width: 2px;
    border-color: rgba(221, 221, 221, 1);
}
.bannerTextBox {
    position: relative;
    margin-top: -24.5%;
    margin-left: 52.5%;
    font-size: 20px;
    color: #6e6e6e;
}
.bannerText {
    font-size: 30px;
    color: rgb(0, 133, 63);
}
